.navbar{
  background-color: #0B1013;
  border: 0px;
}
.nav {
  font-size: 28px;
  margin-right: 20px;

}
.navbar .nav > li > a {
  color: #FFFAFA;
}
#about {
  background-color: #006284;
  padding-top: 80px;
  /*background: repeating-linear-gradient(
  to right,
  #006284,
  #006284 20px,
  #08192D 20px,
  #08192D 40px*/
  background: -webkit-linear-gradient(left top, #6E75A4, #81C7D4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #6E75A4, #81C7D4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #6E75A4, #81C7D4); /* For Firefox 3.6 to 15 */
);
  padding-bottom: 30px;
}

.avatar {
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.name {
  font-size: 48px;
  color: #FFFAFA;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}
i{
  margin-left: 10px;
  margin-right: 10px;
}
a .fa{
  color: snow;
}
.font-icon{
  text-align: center;
  margin-top: 30px;
}

.intro{
  text-align: center;
  margin-top: -20px;
  color: white;
  font-size: 24px;
}
.container {
  background-color: #FFFAFA;
  margin: 0px;
}

#projects {
  background-color: #FFFAFA;
  margin-top: -10px;
  width: 100%;
  /*background: repeating-linear-gradient(
  to bottom,
  #08192D,
  #08192D 50px,
  #ffffff 50px,
  #ffffff 100px
);*/
}
.caption {
  text-align: center;
}

h2 {
  text-align: center;
  color: #006284;
}
.project-img img{
  width: 325px;
  height: 225px;
}
.project-img:hover img {
  opacity: .5;
}
.project-title{
  margin-top: 10px;
  font-size: 16px;
  color: #0B1013;
}
.row{
  margin-top: 20px;
}
