body {
    background-color: #708090;
    font-family: 'Poppins', sans-serif;
    color: white;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
section.intro{
    max-width: 750px;
    margin: 86px auto;
    font-size: 18px;
    font-weight: 400;
    
}
section.work{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 96px;
}
@media screen and (min-width: 640px){
    section.work {
        display: flex;
        justify-content: flex-start;
    }    
}
/*.image-div{
    width: 800px;
   
}*/
img.preview {
    width: 100%;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    
}
@media screen and (min-width: 640px){
   .image-div{
       flex: 2 1 0;
   }
   .description{
       flex:1 1 0;
   }
   /*img.preview{
       min-width: 600px;
   }*/
}

.description{
    margin: 0 36px;
}
.title{
    font-size: 24px;
    font-weight: 600;
}
@media screen and (max-width: 640px){
    .title {
        margin-top: 24px;
    }
}
.summary{
    margin-top: 48px;
    margin-bottom: 48px;
}
a.button {
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 36px;
  }
